/*Custom style to be added*/
.xt-product-subpage .product-sidebar {
    margin-top: 350px !important;
}

.activeMenu{
	color: #f26667 !important;
}

.no0points{
	border: 5px solid black;
	margin-bottom:-5px;
}

.divToDisplay{
margin-left: -5%;
}
#4sailCategories{
	transition:0.35s all linear;
}
#4sailCategories.xt-dropdown.collapse.in{
	-webkit-box-shadow: 19px 15px 18px -17px rgba(0,0,0,0.37) !important;
-moz-box-shadow: 19px 15px 18px -17px rgba(0,0,0,0.37) !important;
box-shadow: 19px 15px 18px -17px rgba(0,0,0,0.37) !important;
}